.homePage {
  grid-area: main;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
}

#orangeBar {
  background-color: var(--color-highlight);
  color: var(--color-primary);
  width: 100vw;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0;
}

#frontPageImage {
  width: 100vw;
  height: 150px;
  object-fit: cover;
  object-position: 70% 50%;
}

.slogan {
  font-family: var(--font-headline);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.hero-text {
  margin: 2rem 0;
}

@media screen and (min-width: 1025px) {
  #frontPageImage {
    width: 100vw;
    height:280px;
    object-fit: cover;
    object-position: 70% 50%;
  }

  .hero-container {
    width: 50vw;
    text-align: center;
    margin: 1rem 0;
    padding: 0 2rem;
  }

}
