@import "../variables.css";

.infoPage {
  grid-area: main;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.info-container{
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

.info-text {
  margin: 1rem 0;
}

#info-header {
  margin: 2rem 0 0.5rem 0;
}

@media screen and (min-width: 469px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media screen and (min-width: 1025px) {
  .info-text {
    text-align: center;
    margin: 1rem 0;
  }
}