@import "../variables.css";

.infoPage {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

#info-header {
  margin: 2rem 0 0 0;
  color: var(--color-highlight);
}

.info-container {
  width: 100%;
  max-width: 800px;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.info-text {
  margin: 1.5rem 0;
  line-height: 1.6;
  text-align: center;
}

.info-text strong {
  color: var(--color-highlight);
}

.info-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-background-dark);
  margin: 2rem 0;
  opacity: 0.5;
}

@media screen and (min-width: 469px) and (max-width: 768px) {
  .info-container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .info-container {
    padding: 0 3rem;
  }
  
}

@media screen and (min-width: 1025px) {
  .info-container {
    padding: 0 2rem;
  }
  
  .info-text {
    font-size: var(--font-size-body-xlarge);
  }
}