@import "../variables.css";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer;
  padding: var(--spacing-base);
  width: 100vw;
}

.contact-container {

}

.footer-logo {
  width: 150px;
}

#contact-name {

}

#maker  {
  font-size: var(--font-size-small-text);
  margin-bottom: 1rem;
}