@import "../variables.css";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer;
  width: 100vw;
  padding-top: 1rem;
}

.contact-container {
  text-align: center;
  
}

.contact-container p {
  margin: 0.3rem 0;
}

#footer-logo {
  width: 250px;
  padding-bottom: 1rem;
}

#contact-email {

}

.footer a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--primary-dark)
}

.maker-container {
  margin: 1rem 0;
}

#maker  {
  font-size: var(--font-size-small-text);
  margin-bottom: 1rem;
}