@import "../variables.css";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer;
  width: 100vw;
  padding-top: 1rem;
}

.contact-container {
  text-align: center;
  margin: 2rem 0;
}

.contact-container p {
  margin: 0.3rem 0;
}

#footer-logo {
  width: 250px;
  padding-bottom: 1rem;
}

.footer a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--primary-dark)
}

.maker-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1rem 0;
  background-color: var(--color-background-dark);
}

#maker  {
  font-size: var(--font-size-body);
  margin-bottom: 1rem;
}