@import "../variables.css";

.menuItem {
  display: block;
  text-decoration: none;
  font-size: var(--font-size-subheading);
  font-family: var(--font-body);
  font-weight: 600;
  color: var(--color-primary-dark);
  padding: 0.2rem 0;
}

.menuItem.visited {
  color: var(--color-primary-dark);
}
